*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}

.content{width: 100%; padding: 150px 0;}
.inner{width: 1176px; margin: 0 auto;}
.inner::after{content: ''; clear: both; display: block;} 




#header{width: 100%; height: 100px; position: fixed; background-color:rgba(13, 56, 150, 0.49); z-index: 1;}

#header .logo{float: left; padding-top: 30px;}
#header .logo a{display: block; width: 140px; 
    background : url('../img/logo-light-220x32.png') no-repeat left top; font: 8px/40px 'inherit'; color: transparent;}



#header .nav_wrap .service{float: right;  text-align: right}
#header .nav_wrap .service li{display: inline-block;}
#header .nav_wrap .service li a{display: block; padding: 0 5px; font: 14px/40px 'inherit'; color: white;}




#header .gnb_wrap{float: right;}
#header .bg_gnb{
    display: none;
    position: absolute; left: 0; top: 100px; 
    width: 100%; height: 125px; background-color: rgba(44, 44, 44, 0.8);
 }
    



.gnb>li{position: relative;  float: left;}
.gnb>li>a{position: relative; display: block; top: 3px; padding: 20px 45px; font: 16px/80px 'inherit'; text-transform: uppercase; color: #fff; text-align: center;}

.gnb>li>a::after{
    content: ''; display: block;
    position: absolute; left: 0; bottom: 23px;
    width: 100%; height: 3px; background-color:rgb(255, 255, 92);
    transform: scaleX(0); transition: 0.3s;}

.gnb>li>a:hover::after{transform: scaleX(1);}

.gnb>li>a>span{display: block;}
.gnb>li>a>span.eng{opacity: 1;}
.gnb>li>a>span.kor{opacity: 0;margin-top: -80px;}

.gnb>li>a:hover>span.eng{opacity: 0;}
.gnb>li>a:hover>span.kor{opacity: 1; font-weight: bold;}

.gnb>li>.submenu{display: none; position: absolute; left: 0; top: 100px; width: 100%; z-index: 1;}
.gnb>li>.submenu>li>a{display: block; font: 14px/40px 'inheirt'; text-align: center; color: #fff;}





#visual{ width: 100%; height: 525px;
   background:url('../img/main.jpg');
background-size: 100%; padding : 150px 0 0 ; text-align: center; opacity: 0.9; 
}


#visual .slide .left i{ font-size: 70px; color: rgba(255, 255, 255, 0.9); float: left;  padding: 80px 250px; text-shadow: 0 0 10px rgba(0,0,0,0.5); }
#visual .slide .right i{font-size: 70px; color: rgba(255, 255, 255, 0.9); float: right; padding: 80px 250px;  text-shadow: 0 0 10px rgba(0,0,0,0.5); }


#visual .msg h2{font: bold 58px '맑은 고딕'; color: white;  padding : 50px 0 0 ; text-shadow: 0 0 10px rgba(0,0,0,0.5); }
#visual .msg p{font: 20px '맑은 고딕'; color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5); }




#road {padding: 80px 0;}
#road .inner{width: 100%;}
#road .about_title{font:  40px '맑은 고딕'; color: #151515; padding: 5px 170px; }
#road .about_txt{font:  20px '맑은 고딕'; color: #9d9d9d; padding: 0 0 50px 220px;}


#road .box{float: left;  width: 50%; height: 550px; padding: 45px 0 0 70px; text-align: left}
#road .box:nth-of-type(1){background:url('../img/road.JPG') no-repeat center; background-size: cover}
#road .box:nth-of-type(2){background: #f5f5f5}
#road .box .title{font: 20px '맑은 고딕'; color: #525252; padding: 5px 0;}
#road .box .title_1{font: bold 48px '맑은 고딕'; color: #222222;}
#road .box .line{font-size: 40px; color: #7e7e7e; }
#road .box .txt{font: 18px '맑은 고딕'; width: 500px; padding: 30px 0; color: #797979}
#road .box .txt i{color: rgba(65, 199, 174, 0.86);}
#road .box .txt strong{color: #1d1d1d;}








#guide {padding: 60px 0;}
#guide .inner{padding: }
#guide .title{font: 35px '맑은 고딕'; color: #454545; padding: 20px 0; }
#guide .gallery_txt{font:  20px '맑은 고딕'; color: #9d9d9d; padding: 0 0 50px 4px;}

#guide table.car {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.3;
  margin: auto;

}

#guide table.car thead th {
  padding: 10px;
  font-size: 23px ;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
#guide table.car tbody th {
  width: 190px;
  padding: 40px;

  vertical-align: center;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  font-size: 17px;
  text-align: center;
}
#guide table.car td {
  width: 1000px;
  padding: 10px;
  vertical-align: center;
  border-bottom: 1px solid #ccc;
    color:#626262; 

}




#guide table.subway {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.3;
  margin: auto;

}

#guide table.subway thead th {
  padding: 10px;
  font-size: 23px ;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
#guide table.subway tbody th {
  width: 190px;
  padding: 40px;

  vertical-align: center;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
  font-size: 17px;
  text-align: center;
}
#guide table.subway td {
  width: 1000px;
  padding: 10px;
  vertical-align: center;
  border-bottom: 1px solid #ccc;
    color:#626262; 

}




#footer{width: 100%; height: 200px; background-color: rgb(50, 119, 212)}
#footer .inner{width: 1180px; margin: 0 auto}
#footer .inner::after{content: ''; display: block; clear: both;}


#footer .box.logo{}
#footer .box.logo .logo_footer{margin-right:15px;}

#footer .box{float: left; padding: 30px; height: 200px;}

#footer .box.contact{width: 50%; padding: 30px 45px; text-align: left;}
#footer .box.contact p{margin: 10px 0; text-indent: -20px;}
#footer .box.contact p i{font-size: 20px; color: #ffffff; padding-right: 25px;}
#footer .box.contact p span{font-size: 20px; color: #ffffff}


#footer .box.sns{width: 25%; height: 50px;}
#footer .box.sns .sns{margin-top: 10px; padding: 55px 0 50px; font-size: 35px; float: right;}
#footer .box.sns .sns li{ display: inline-block; padding: 0 3px;}
#footer .box.sns .sns li a{color: #ffffff}




