@charset "UTF-8";

/* q&a */
#abu_qna_info_title{
	line-height : 20px;
	font-size : 17pt;
	font-weight : lighter;
}
#abu_qna_title_under{
	border-bottom : 2px solid black;
}
#abu_qna_subtitle_line{
	border-bottom : 1px solid #ccc;
}
#abu_qna_subtile{
	padding-left : 30px;
	font-size : 15pt;
	height : 70px;
}
#abu_qna_subtitle_line input{
	width : 500px;
	height : 50px;
}
#abu_qna_submit_btn{
	font-size : 15pt;
	font-weight : lighter;
	line-height : 15px;
	color : white;
	background-color : #2535C7;
	border : none;
	width : 150px;
	height : 50px;
}
/* notice */
#abu_notice_list{
	border-bottom:1px solid #cccccc;
	height : 60px;
}
#abu_notice_list a{
	font-size : 15pt;
	font-weight : 300;
	text-decoration : none;
	color : black;
}
#abu_notice_list a:hover{
	text-decoration : none;
	color : black;
}
#abu_notice_title_line{
	border-top : 2px solid black;
}
#abu_notice_detail_title{
	border-top : 2px solid black;
	border-bottom : 1px solid #ccc;
	height : 70px;
}
#abu_notice_list_btn{
	font-size : 15px;
	line-height : 15px;
	color : white;
	background-color : #2535C7;
	float:right;
	border : none;
	width : 110px;
	height : 35px;
}
#abu_notice_detail_title td{
	font-size : 15pt;
	font-weight : lighter;
}
#abu_notice_detail_content{
	font-size : 15pt;
	font-weight : lighter;
	padding : 50px;
}

/* manager notice 조회 */
#manager_n_sel_title{
	border-bottom : 2px solid #c00;
	background : #dcdcd1;
	height : 40px;
	font-weight : bold;
	text-align : center;
}
#manager_n_sel_table{
	border : 2px solid;
	border-spacing : 2px;
	border-color : grey;
}


/* manager notice 삽입 */
#manager_n_in_title{
	font-weight : bold;
	background : #ececec;
	width : 150px;
	height : 50px;
	text-align : center;
}
#manager_n_in_table{
	border : 2px solid black
}
#manager_n_in_table input[type="text"]{
	vertical-align: middle;
	width : 200px;
	height : 30px;
}
#manager_n_in_table td, #manager_n_in_table th{
	text-align : center;
	border : 1px solid black;
	padding : 10px;
}

/* manager notice 수정 */
#manager_n_up_title{
	font-weight : bold;
	background : #ececec;
	width : 150px;
	height : 50px;
	text-align : center;
}
#manager_n_up_table{
	border : 2px solid black
}
#manager_n_up_table input[type="text"]{
	vertical-align: middle;
	width : 200px;
	height : 30px;
}
#manager_n_up_table td, #manager_n_up_table th{
	text-align : center;
	border : 1px solid black;
	padding : 10px;
}