* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.content {
	width: 100%;
	padding: 150px 0;
}

.inner {
	width: 1176px;
	margin: 0 auto;
}

.inner::after {
	content: '';
	clear: both;
	display: block;
}

#header {
	width: 100%;
	height: 100px;
	position: fixed;
	background-color: rgba(13, 56, 150, 0.49);
	z-index: 1;
}

#header .logo {
	float: left;
	padding-top: 30px;
}

#header .logo a {
	display: block;
	width: 140px;
	background: url('../img/logo-light-220x32.png') no-repeat left top;
	font: 8px/40px 'inherit';
	color: transparent;
}

#header .nav_wrap .service {
	float: right;
	text-align: right
}

#header .nav_wrap .service li {
	display: inline-block;
}

#header .nav_wrap .service li a {
	display: block;
	padding: 0 5px;
	font: 14px/40px 'inherit';
	color: white;
}

#header .gnb_wrap {
	float: right;
}

#header .bg_gnb {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 125px;
	background-color: rgba(44, 44, 44, 0.8);
}

.gnb>li {
	position: relative;
	float: left;
}

.gnb>li>a {
	position: relative;
	display: block;
	top: 3px;
	padding: 20px 45px;
	font: 16px/80px 'inherit';
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.gnb>li>a::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	height: 3px;
	background-color: rgb(255, 255, 92);
	transform: scaleX(0);
	transition: 0.3s;
}

.gnb>li>a:hover::after {
	transform: scaleX(1);
}

.gnb>li>a>span {
	display: block;
}

.gnb>li>a>span.eng {
	opacity: 1;
}

.gnb>li>a>span.kor {
	opacity: 0;
	margin-top: -80px;
}

.gnb>li>a:hover>span.eng {
	opacity: 0;
}

.gnb>li>a:hover>span.kor {
	opacity: 1;
	font-weight: bold;
}

.gnb>li>.submenu {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	z-index: 1;
}

.gnb>li>.submenu>li>a {
	display: block;
	font: 14px/40px 'inheirt';
	text-align: center;
	color: #fff;
}

#visual {
	width: 100%;
	height: 2100px;
	background: url('../img/main.jpg') no-repeat;
	background-size: 100%;
	padding: 250px 0 0;
	text-align: center;
}

#visual a {
	font: 90px bold;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
}

#parade .tab {
	position: relative;
	padding: 40px 0;
	text-align: center;
}

#parade .tab>li {
	display: inline-block;
	margin: -12px 20px;
	padding: 0 30px;
	background-color: #f5f5f5;
	border: 2px solid #b5b5b5;
	border-radius: 20px;
}

#parade .tab>li>.menu {
	display: block;
	padding: 0 30px;
	font: bold 24px/50px 'inherit';
	color: #767676;
}

#parade .tab>li>.pannel {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 1000px;
	height: 400px;
	border: 1px solid #ddd;
}

#parade .tab>li:nth-of-type(1)>.pannel {
	background: url('../img/4.jpg') no-repeat;
}

#parade .tab>li:nth-of-type(2)>.pannel {
	background-color: #fdce77;
}

#theme .title {
	margin: 180px 0 25px;
	font: bold 55px '맑은고딕';
	text-align: center;
	color: #ffffff;
	padding: 10px 0;
}

#theme .tab_1 {
	position: relative;
	width: 100%;
	height: 400px;
	text-align: center;
	top: 0px;
}

#theme .tab_1>li {
	display: inline-block;
	margin: -12px 20px;
	padding: 0px 20px;
	border: 2px solid #ffffff;
	color: #2c2c2c;
}

#theme .tab_1>li>a {
	display: block;
	padding: 0 30px;
	font: bold 18px/50px 'inherit';
	color: #ffffff;
}

#theme .tab_1>li>.panel {
	position: absolute;
	left: 100px;
	top: 60px;
	width: 1000px;
	height: 450px;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
}

#theme .tab_1>li>.panel .pic {
	position: absolute;
	left: 0;
	top: 0;
	width: 52%;
	overflow: hidden;
}

#theme .tab_1>li>.panel .pic img {
	display: block;
	width: auto;
	height: 450px;
}

#theme .tab_1>li>.panel .info {
	position: absolute;
	right: 0;
	top: 70px;
	width: 50%;
	padding: 5%;
	text-align: left;
}

#theme .tab_1>li>.panel .info .tours_title {
	margin: 0 0 10px;
	font: bold 24px 'inherit';
}

#theme .tab_1>li>.panel .info .tours_txt {
	margin: 0 0 30px;
	line-height: 1.5;
	color: #777;
	font: 15px 'inherit';
}

#theme .tab_1>li>.panel .info .tours_btn {
	display: block;
	width: 100%;
	max-width: 130px;
	font: bold 16px/5px 'inherit';
	border: 2px solid #b7b7b7;
	color: #444;
	text-align: center;
	background-color: rgba(224, 224, 224, 0.53);
}

#cardnews {
	height: 800px;
	background-color: rgba(162, 204, 240, 0.66)
}

#cardnews .title {
	margin: -70px 0 25px;
	font: bold 35px '맑은고딕';
	text-align: center;
	color: #4a4a4a;
}

#cardnews .txt {
	font: 20px '맑은고딕';
	text-align: center;
	padding: 10px 0;
	color: #5a5a5a
}

#cardnews .box {
	position: relative;
	float: left;
	width: 376px;
	margin-right: 24px;
}

#cardnews .box:last-of-type {
	margin-right: 0;
}

#cardnews .box .pic {
	width: 100%;
}

#cardnews .box .pic img {
	display: block;
	width: 100%;
	height: 450px;
	opacity: 0.8;
}

#cardnews .box .info {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(139, 69, 19, 0);
	text-align: center;
	color: #ffffff;
	transition: 0.3s;
}

#cardnews .box .info strong {
	display: block;
	margin-top: 80px;
	font: bold 42px '맑은 고딕';
}

#cardnews .box .info p {
	opacity: 0;
	transition: 1s;
	margin: 15px 0;
}

#cardnews .box .info .btn {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 45px;
	margin: 150px 0;
	font: bold 16px/40px '맑은 고딕';
	text-align: center;
	color: #ffffff;
	border: 0.5px solid #afafaf;
	border-radius: 10px;
	overflow: hidden;
}

#cardnews .box .info .btn span {
	position: relative;
	z-index: 1;
}

#cardnews .box .info .btn::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 0%;
	background: rgba(255, 221, 128, 0.8);
	transition: 0.3s
}

#cardnews .box .info .btn:hover {
	color: #fff
}

#cardnews .box .info .btn:hover::after {
	height: 100%;
}

#cardnews .box:hover .info {
	background-color: rgba(173, 173, 173, 0.52);
}

#cardnews .box:hover .info>i {
	opacity: 1;
	transition: 1s 0.3s
}

#cardnews .box:hover .info p {
	opacity: 1;
}

#footer {
	width: 100%;
	height: 200px;
	background-color: rgb(50, 119, 212)
}

#footer .inner {
	width: 1180px;
	margin: 0 auto
}

#footer .inner::after {
	content: '';
	display: block;
	clear: both;
}

#footer .box.logo {
	
}

#footer .box.logo .logo_footer {
	margin-right: 15px;
}

#footer .box {
	float: left;
	padding: 30px;
	height: 200px;
}

#footer .box.contact {
	width: 50%;
	padding: 30px 45px;
	text-align: left;
}

#footer .box.contact p {
	margin: 10px 0;
	text-indent: -20px;
}

#footer .box.contact p i {
	font-size: 20px;
	color: #ffffff;
	padding-right: 25px;
}

#footer .box.contact p span {
	font-size: 20px;
	color: #ffffff
}

#footer .box.sns {
	width: 25%;
	height: 50px;
}

#footer .box.sns .sns {
	margin-top: 10px;
	padding: 55px 0 50px;
	font-size: 35px;
	float: right;
}

#footer .box.sns .sns li {
	display: inline-block;
	padding: 0 3px;
}

#footer .box.sns .sns li a {
	color: #ffffff
}