table {
	margin: 20px 10px;
	font-size: 13px;
}
table tr{
	border-bottom : 1px solid #ececec;
	height : 50px;
}
table tr th{
	text-align : left;
	vertical-align: middle;
	padding : 10px;
	width : 100px;
}

table tr td{
	text-align : left;
	padding : 10px;
	width : 500px;
	vertical-align: middle;
}

.table_title{
	font-size : 20px;
	color : black;
	padding : 20px;
}

/* 아래는 사용 안 함 */

.none {
	border-left: none;
	border-right: none;
}

.p_img {
	padding: 0px;
}

ul.mylist, ol.mylist {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 900px;
    width: 100%;
}

  
ul.mylist li, ol.mylist li {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
}

ul.mylist li, ol.mylist li {
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}
ul.mylist li a{
	color:black;
}
ol.mylist li a{
	color:black;
}

ul.mylist li:hover, ol.mylist li:hover {
	background-color: #007bff;
}
ul.mylist li:hover a, ol.mylist li:hover a{
	color: #fff;
	text-decoration : none;
}

