* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::before, *::after {
	box-sizing: border-box;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.content {
	width: 100%;
	padding: 150px 0;
}

.inner {
	width: 1176px;
	margin: 0 auto;
}

.inner::after {
	content: '';
	clear: both;
	display: block;
}

#header {
	width: 100%;
	height: 100px;
	position: fixed;
	background-color: rgba(13, 56, 150, 0.49);
	z-index: 1;
}

#header .logo {
	float: left;
	padding-top: 30px;
}

#header .logo a {
     display: block;
     width: 200px; 
     height: 70px; 
     background : url('../img/logo.png') no-repeat left top; 
     font: 8px/40px 'inherit'; 
     color: transparent; 
     background-size: 100%; 
     margin: -10px 10px;

}

#header .nav_wrap .service {
	float: right;
	text-align: right
}

#header .nav_wrap .service li {
	display: inline-block;
}

#header .nav_wrap .service li a {
	display: block;
	padding: 0 5px;
	font: 14px/40px 'inherit';
	color: white;
}

#header .gnb_wrap {
	float: right;
}

#header .bg_gnb {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	height: 125px;
	background-color: rgba(44, 44, 44, 0.8);
}

.gnb>li {
	position: relative;
	float: left;
}

.gnb>li>a {
	position: relative;
	display: block;
	top: 3px;
	padding: 20px 45px;
	font: 16px/80px 'inherit';
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.gnb>li>a::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	height: 3px;
	background-color: rgb(255, 255, 92);
	transform: scaleX(0);
	transition: 0.3s;
}

.gnb>li>a:hover::after {
	transform: scaleX(1);
}

.gnb>li>a>span {
	display: block;
}

.gnb>li>a>span.eng {
	opacity: 1;
}

.gnb>li>a>span.kor {
	opacity: 0;
	margin-top: -80px;
}

.gnb>li>a:hover>span.eng {
	opacity: 0;
}

.gnb>li>a:hover>span.kor {
	opacity: 1;
	font-weight: bold;
}

.gnb>li>.submenu {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	z-index: 1;
}

.gnb>li>.submenu>li>a {
	display: block;
	font: 14px/40px 'inheirt';
	text-align: center;
	color: #fff;
}

#visual{ 
	width: 100%; 
	height: 525px;
    background:url('../img/main.jpg');
    background-size: 100%; 
    padding : 150px 0 0 ; 
    text-align: center; 
    opacity: 0.9; 
}

#visual .slide .left i{ 
	font-size: 70px; 
	color: rgba(255, 255, 255, 0.9); 
	float: left;  
	padding: 80px 250px; 
	text-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

#visual .slide .right i{
	font-size: 70px; 
	color: rgba(255, 255, 255, 0.9); 
	float: right; 
	padding: 80px 250px;  
	text-shadow: 0 0 10px rgba(0,0,0,0.5); 
}


#visual .msg h2{
	font: bold 70px '맑은 고딕';
    color: white;  
    padding : 50px 0 0 ; 
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
#visual .msg p{
	font: 20px '맑은 고딕'; 
	color: white; 
	text-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

#about {
	padding: 80px 0;
}

#about .inner {
	width: 100%;
}

#about .about_title {
	font: 40px '맑은 고딕';
	color: #151515;
	padding: 5px 170px;
}

#about .about_txt {
	font: 20px '맑은 고딕';
	color: #9d9d9d;
	padding: 0 0 50px 220px;
}

#about .box {
	float: left;
	width: 50%;
	height: 650px;
	padding: 80px;
	text-align: left
}

#about .box:nth-of-type(1) {
	background: url('../img/theme/thm3.JPG') no-repeat center;
	background-size: cover
}

#about .box:nth-of-type(2) {
	background: #eee
}

#about .box .title {
	font: 20px '맑은 고딕';
	color: #525252;
	padding: 5px 0;
}

#about .box .title_1 {
	font: bold 48px '맑은 고딕';
	color: #222222;
}

#about .box .line {
	font-size: 40px;
	color: #7e7e7e;
}

#about .box .txt {
	width: 500px;
	padding: 30px 0;
	color: #777
}

#gallery {
	padding: 60px 0;
}

#gallery .inner {
}

#gallery .gallery_title {
	font: 40px '맑은 고딕';
	color: #454545;
	padding: 8px 0;
}

#gallery .gallery_txt {
	font: 20px '맑은 고딕';
	color: #9d9d9d;
	padding: 0 50px;
}

#gallery .box {
	float: left;
	width: 16.6666667%;
	padding: 80px 0;
}

#gallery .box:last-of-type {
	margin-right: 0;
}

#gallery .box .pic {
	position: relative;
	top: -30px;
	width: 150px;
	height: 145px;
	margin: 0 auto;
	border-radius: 100%;
	overflow: hidden;
	transition: 0.3s
}

#gallery .box:hover .pic {
	top: -50px;
}

#gallery .box .pic img {
	display: block;
	width: 100%;
	height: 150px;
}

#gallery .box .info {
	padding: 0 10px 0;
	text-align: center;
}

#gallery .box .info strong {
	font: 20px '맑은 고딕';
	color: #444;
}

#gallery .button {
	text-align: center;
	padding-bottom: 20px;
}

#gallery .button a {
	display: inline-block;
	width: 180px;
	height: 50px;
	border-radius: 20px;
	font: 20px/50px '맑은 고딕';
	background: #444;
	color: #fff;
	text-align: center;
}




#footer{width: 100%; height: 200px; background-color: rgb(50, 119, 212)}
#footer .inner{width: 1180px; margin: 0 auto}
#footer .inner::after{content: ''; display: block; clear: both;}


#footer .box.logo .logo_footer a{display: block; width: 200px; height: 70px; background : url('../img/logo.png') no-repeat left top; background-size: 100%; margin-right:15px; margin: 30px -20px; font: 8px/40px 'inherit'; color: transparent; }


#footer .box{float: left; padding: 30px; height: 200px;}
#footer .box.contact{text-align: left;}
#footer .box.contact p{padding: 0px 105px; margin: 13px 0; text-indent: -20px;}
#footer .box.contact p i{font-size: 20px; color: #ffffff; padding-right: 25px;}
#footer .box.contact p span{font-size: 20px; color: #ffffff}


#footer .box.sns{ height: 50px;}
#footer .box.sns .sns{margin: 13px 0px; padding: 55px 10px 50px; font-size: 35px; float: right;}
#footer .box.sns .sns li{ display: inline-block; padding: 0 5px;}
#footer .box.sns .sns li a{color: #ffffff}