@charset "UTF-8";
/*select_ticket*/
table{
	border : 0;
	font-size : 10pt;
	table-layout : fixed;
	line-height : 33px;
}
a{
	text-decoration : none;
	color : black;
}
a:hover{
	text-decoration : none;
	color : black;
}
.t_select_wrap{
	width : 1000px;
}
#t_select{
	background-color : #fff;
	box-shadow : 5px 5px 5px 5px #ccc;
}
#t_name_head{
	border-bottom : 1px solid black;
	margin-bottom : 10px;
	text-align : left;
	line-height : 40px;
}
#t_title{
	text-align : left;
	width : 50px;
}
#t_desc{
	text-align : left;
	width : 400px;
}